{% extends  "baseTemplate.html" %}
{% block content %}

  <div class="container">
    <div class="page=header">
      <h2>Albums</h2>
    </div>
    <table class="table table-responsive table-hover table=striped">
      <tr>
        <th>Album</th>
        <th>Artist</th>
      </tr>
      <tr>
        <td><a href="/artists/biffy_clyro/blackened_sky">Blackened Sky</a></td>
        <td><a href="/artists/biffy_clyro">Biffy Clyro</a></td>
      </tr>
      <tr>
        <td><a href="/artists/biffy_clyro/puzzle">Puzzle</a></td>
        <td><a href="/artists/biffy_clyro">Biffy Clyro</a></td>
      </tr>
    </table>
  </div>

{% endblock %}
