{% extends "baseTemplate.html" %}
{% block content %}

  <div class="container">
  <div class="page-header">
    <h2>Biffy Clyro</h2>
  </div>
      <a href="blackened_sky"><div class="tile blacksky">
      <span class="title_bar">
        <span class="text">Blackened Sky</span>
      </span>
    </div></a>
    <div class="tile vertigo">
      <span class="title_bar">
        <span class="text">The Vertigo of Bliss</span>
      </span>
    </div>
    <div class="tile infinity">
      <span class="title_bar">
        <span class="text">Infinity Land</span>
      </span>
    </div>  
    <a href="puzzle"><div class="tile puzzle">
      <span class="title_bar">
        <span class="text">Puzzle</span>
      </span>
    </div></a>
    <div class="tile onlyrev">
      <span class="title_bar">
        <span class="text">Only Revolutions</span>
      </span>
    </div>
    <div class="tile opposites">
      <span class="title_bar">
        <span class="text">Opposites</span>
      </span>
    </div>
    <div class="tile ellipsis">
      <span class="title_bar">
        <span class="text">Ellipsis</span>
      </span>
    </div>
  </div>

{% endblock %}
