{% extends "baseTemplate.html" %}
{% block content %}

  <div class="container">
    <h2>Blackened Sky</h2>

    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="/../static/uploads/blacksky1.jpg"/>
        </li>
        <li>
          <img src="/../static/uploads/blacksky2.jpg"/>
        </li>
        <li>
          <img src="/../static/uploads/blacksky3.jpg"/>
        </li>
        <li>
          <img src="/../static/uploads/blacksky4.jpg"/>
        </li>
      </ul>
    </div>

<!--    <div class="album_image">
      <img src="/../static/uploads/blacksky.jpg" height="220px" width="220px"/>
    </div>     -->
    <div class="album_info">
      <table class="table table-striped table-responsive table-condensed">
        <tr>
          <td><b>Artist:</b></td>
          <td><a href="/artists/biffy_clyro">Biffy Clyro</a></td>
        </tr>
        <tr>
          <td><b>Release Date:</b></td>
          <td>March 10 2002</td>
        </tr>
        <tr>
          <td><b>Label:</b></td>
          <td>Beggars Banquet</td>
        </tr>
        <tr>
          <td><b>Genre:</b></td>
          <td>Alt. Rock, Post Hardcore, Experimental Rock</td>
        </tr>
      </table>
    </div>
    <div class="album_tracks">
      <h3>Track Listing</h3>
      <table class="table table-striped table-responsive table-condensed">
        <tr>
          <th>Title</th>
          <th>Time</th>
        </tr>
        <tr>
          <td>Joy.Discovery.Invention</td>
          <td>3:38</td>
        </tr>
        <tr>
          <td>27</td>
          <td>3:27</td>
        </tr>
        <tr>
          <td>Justboy</td>
          <td>4:22</td>
        </tr>
        <tr>
          <td>Kill teh Old, Torture Their Young</td>
          <td>6:12</td>
        </tr>
        <tr>
          <td>The Go-Slow</td>
          <td>3:59</td>
        </tr>
        <tr>
          <td>Christopher's River</td>
          <td>4:09</td>
        </tr>
        <tr>
          <td>Convex, Concave</td>
          <td>4:28</td>
        </tr>
        <tr>
          <td>57</td>
          <td>3:21</td>
        </tr>
        <tr>
          <td>Hero Management</td>
          <td>4:46</td>
        </tr>
        <tr>
          <td>Solutions and Devices</td>
          <td>3:18</td>
        </tr>
        <tr>
          <td>Stress on The Sky</td>
          <td>4:14</td>
        </tr>
        <tr>
          <td>Scary Mary</td>
          <td>3:06</td>
        </tr>
      </table>
    </div>
  </div>

{% endblock %}
