{% extends "baseTemplate.html" %}
{% block content %}

  <div class="container">
    <h2>Folding Stars<h2>
    <div class="album_image">
      <img src="/../static/uploads/folding.jpg" height="220px" width="220px"/>
    </div>
    <div class="album_info">
      <table class="table table-striped table-responsive table-condensed">
        <tr>
          <td><b>Artist:</b></td>
          <td><a href="/artists/biffy_clyro">Biffy Clyro</a></td>
        </tr>
        <tr>
          <td><b>Album:</b></td>
          <td><a href="/artists/biffy_clyro/puzzle">Puzzle</a></td>
        </tr>
        <tr>
          <td><b>Release Date:</b></td>
          <td>July 16 2007</td>
        </tr>
        <tr>
          <td><b>Length:</b></td>
          <td>3:56</td>
        </tr>
      </table>
    </div>
    <div class="album_tracks">
      <h3>Track Listing</h3>
      <table class="table table-striped table-responsive table-condensed">
        <tr>
          <th>Title</th>
          <th>Time</th>
        </tr>
        <tr>
          <th colspan="2">7" Vinyl #1</th>
        </tr>
        <tr>
          <td>Folding Stars</td>
          <td>3:56</td>
        </tr>
        <tr>
          <td>Coward(B-side)</td>
          <td>3:40</td>
        </tr>
        <tr>
          <th colspan="2">7" Vinyl #2</th>
        </tr>
        <tr>
          <td>Folding Stars</td>
          <td>3:56</td>
        </tr>
        <tr>
          <td>A Headline(B-side)</td>
          <td>3:39</td>
        </tr>
      </table>
    </div>
  </div>

{% endblock %}
