{% extends "baseTemplate.html" %}
{% block content %}

  <div class="container">
    <h2>Artists</h2>
    <a href="biffy_clyro"><div class="tile biffy">
      <span class="title_bar">
        <span class="text">Biffy Clyro</span>
      </span>
    </div></a>
    <div class="tile marley">
      <span class="title_bar">
        <span class="text">Bob Marley</span>
      </span>
    </div>
    <div class="tile darkness">
      <span class="title_bar">
        <span class="text">The Darkness</span>
      </span>
    </div>  
    <div class="tile rhcp">
      <span class="title_bar">
        <span class="text">Red Hot Chili Peppers</span>
      </span>
    </div>
    <div class="tile beatles">
      <span class="title_bar">
        <span class="text">The Beatles</span>
      </span>
    </div>
    <div class="tile foofighters">
      <span class="title_bar">
        <span class="text">Foo Fighters</span>
      </span>
    </div>
    <div class="tile bravery">
      <span class="title_bar">
        <span class="text">The Bravery</span>
      </span>
    </div>
    <div class="tile killers">
      <span class="title_bar">
        <span class="text">The Killers</span>
      </span>
    </div>
    <div class="tile acdc">
      <span class="title_bar">
        <span class="text">AC/DC</span>
      </span>
    </div>
    <div class="tile bowie">
      <span class="title_bar">
        <span class="text">David Bowie</span>
      </span>
    </div>
    <div class="tile police">
      <span class="title_bar">
        <span class="text">The Police</span>
      </span>
    </div>   <div class="tile buzzcocks">
      <span class="title_bar">
        <span class="text">Buzzcocks</span>
      </span>
    </div>
  </div>

{% endblock %}
