{% extends "baseTemplate.html" %}
{% block content %}

  <div class="container">
    <h2>Puzzle</h2>

    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="/../static/uploads/puzzle1.jpg"/>
        </li>
        <li>
          <img src="/../static/uploads/puzzle2.jpg"/>
        </li>
        <li>
          <img src="/../static/uploads/puzzle3.jpg"/>
        </li>
        <li>
          <img src="/../static/uploads/puzzle4.jpg"/>
        </li>
        <li>
          <img src="/../static/uploads/puzzle5.jpg"/>
        </li>
      </ul>
    </div>

<!--    <div class="album_image">
      <img src="/../static/uploads/puzzle.jpg" height="220px" width="220px"/>
    </div>-->
    <div class="album_info">
      <table class="table table-striped table-responsive table-condensed">
        <tr>
          <td><b>Artist:</b></td>
          <td><a href="/artists/biffy_clyro">Biffy Clyro</a></td>
        </tr>
        <tr>
          <td><b>Release Date:</b></td>
          <td>June 4 2007</td>
        </tr>
        <tr>
          <td><b>Label:</b></td>
          <td>14th Floor Records</td>
        </tr>
        <tr>
          <td><b>Genre:</b></td>
          <td>Rock, Alt. Rock</td>
        </tr>
      </table>
    </div>
    <div class="album_tracks">
      <h3>Track Listing</h3>
      <table class="table table-striped table-responsive table-condensed">
        <tr>
          <th>Title</th>
          <th>Time</th>
        </tr>
        <tr>
          <td>Living Is a Problem Because Everything Dies</td>
          <td>5:18</td>
        </tr>
        <tr>
          <td><a href="puzzle/saturday_superhouse">Saturady Superhouse</a></td>
          <td>3:19</td>
        </tr>
        <tr>
          <td>Who's Got a Match?</td>
          <td>2:23</td>
        </tr>
        <tr>
          <td>As Dust Dances</td>
          <td>4:34</td>
        </tr>
        <tr>
          <td>A Whole Child Ago</td>
          <td>3:07</td>
        </tr>
        <tr>
          <td>The Conversation Is...</td>
          <td>3:40</td>
        </tr>
        <tr>
          <td>Now I'm Everyone</td>
          <td>3:50</td>
        </tr>
        <tr>
          <td>Semi-Mental</td>
          <td>3:22</td>
        </tr>
        <tr>
          <td>Love Has a Diameter</td>
          <td>3:53</td>
        </tr>
        <tr>
          <td>Get Fucked Stud</td>
          <td>3:37</td>
        </tr>
        <tr>
          <td><a href="puzzle/folding_stars">Folding Stars</a></td>
          <td>4:15</td>
        </tr>
        <tr>
          <td>9/15ths</td>
          <td>2:46</td>
        </tr>
        <tr>
          <td>Machines</td>
          <td>3:56</td>
        </tr>
      </table>
    </div>
  </div>

{% endblock %}
